<h1>Bem vindo à Troca Materiais</h1>
<%= link_to 'Cadastrar materiais que tenho e quero trocar', new_material_path, class:"waves-effect waves-light btn" %>
<%= link_to 'Cadastrar materiais que desejo receber', new_wish_path, class:"waves-effect waves-light btn" %>
<%= link_to 'Meus produtos', materials_path, class:'whaves-effect waves-light btn' %>
<%= link_to 'Meus desejos', wishes_path, class:'whaves-effect waves-light btn' %>
