<div class="match">
  <h3>Proposta de <%= @material.user %></h3>
  <p><%= @material.user %> deseja trocar:</p>
  <ul>
    <li>Seu <%= @wish %></li>
    <li>Por <%= @material %> dele(a)</li>
  </ul>

  <a href="#">Aceitar proposta</a>
  <a href="#">Recusar proposta</a>
</div>
