<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content Type' />
</head>
<body>
  <h1>Você recebeu uma nova propsota de <%= @notifier.name %></h1>
  <p>Para aceitar, visualizar ou rejeitar, <%= link_to 'acesse o site', @url%></p>
</body>
</html>
